{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block title %}
{{ create_or_edit }}
{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
    {% for group in user.groups.all %}
        {% if group.name == 'authors' %}
            {{ block.super }}
            <div class="container mt-5"
                <h4>{{ create_or_edit }}</h4>
                <form action="" method="post" class="filter-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Применить">
                </form>
            </div>
        {% else %}
        {% endif %}
    {% empty %}
    {% endfor %}
{% else %}
    <p>Вы не авторизованны!</p>
    <a href="{% url 'account_signup' %}" class="btn btn-primary">Регистрация/Вход </a>
{% endif %}
{% if not object_exists %}

{% endif %}
{% endblock content %}