{% extends 'flatpages/default.html' %}

{% block title %}
Выход из системы
{% endblock title %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">
     <div class="shadow-lg border-0 rounded-4 p-4 text-center" style="width: 100%; max-width: 600px">
         <h4 class="text-primary">Страничка авторизованного пользователя</h4>
         <h3 class="text-danger">{{user.username}}</h3>
         <a href="{% url 'account_logout' %}"class="btn btn-outline-danger mt-2">Выйти</a>
         {% if user.is_authenticated and not user.groups.filter.name is 'authors' %}
            <a href="{% url 'become_author' %}">Стать автором</a>
         {% endif %}
     </div>
</div>
{% endblock content %}